/*
created by jibin jose, http://jibinjose.in/
as part of demo of html, css and github pages
based on http://lanyon.getpoole.com/
*/

/*
 * Body resets
 *
 * Update the foundational and global aspects of the page.
 */

* {
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16 px;
    line-height: 1.5;
}
@media(min-width: 38 rem) {
    html {
        font-size: 20 px;
    }
}
body {
    color: #515151;
    background-color: # fff;
   -webkit-text-size-adjust: 100 %;
   -ms-text-size-adjust: 100 %;
}
/* No `:visited` state is required by default (browsers will use `a`) */

a {
    text-decoration: none;
}
/* `:focus` is linked to `:hover` for basic accessibility */

a:hover,
a:focus {
    color: #268bd2;
    text-decoration: underline;
}
/*
 * Container
 *
 * Center the page content.
 */

.container {
    max-width: 38rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 38rem) {
    .container {
        max-width: 32rem;
    }
}
@media (min-width: 56rem) {
    .container {
        max-width: 38rem;
    }
}
/*
 * Profile
 *
 * profile title , subtile , image
 */

.profile {
    border-bottom: 2px solid #e7ebee;
}
.profile-img,
.profile-details {
    display: inline-block;
}
.profile-img {
    margin-right: 30px;
}
.profile-img img {
    width: 120px;
    display: block;
    margin: 0;
}
.profile-title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 1.5rem;
}
.profile-subtitle {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 1.75rem;
    font-weight: 300;
}
.profile-subtitle {
    margin-top: 0;
    color: #878787;
}
@media (max-width: 800px) {
    .profile {
        text-align: center;
    }
    .profile-title {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .profile-subtitle {
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 0;
    }
    .profile-img img {
        width: 100px;
    }
}

/*
 * Social
 *
 * social links like github , linkedin
 */

.social-links {
    display: block;
    font-size: 20px;
}
.social-links > a {
    background: none;
    text-decoration: none;
    border-radius: 3px;
    color: #000000;
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
}
.social-links > a: hover {
    color: #0088cc;
}
